@model ProductListModel


<!-- Product list contant start -->
<div class="contant">
	<div id="banner-part" class="banner inner-banner">
		<div class="container">
			<div class="bread-crumb-main">
				<h1 class="banner-title">Shop</h1>
				<div class="breadcrumb">
					<ul class="inline">
						<li><a href="index.html">Home</a></li>
						<li>Shop</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4 col-xl-3">
					<div class="sidebar mb-md-30">
						<div class="sidebar-category sidebar-default">
							<div class="category-content">
								<h2 class="cat-title">Markalar</h2>
								<ul class="pl-0 mb-0">
									<li>
										<a href="/Shop/Index/"
										   class="list-group-item list-group-item-action">
											Tüm Ürünler
										</a>
									</li>
									@foreach(var item in Model.Brands)
									{
										<li>
											<a asp-controller="Shop" asp-action="Index" asp-route-category="@item.Name" 
											   class="list-group-item list-group-item-action @(Model.SelectedCategory==item.Name.ToLower()?"active":"")">
												@item.Name
											</a>
										</li>
									}
								</ul>
							</div>
						</div>
						<div class="sidebar-default">
							<div class="category-content">
								<h2 class="cat-title">Filtrele</h2>
								<a class="btn btn-color small btn-filter mb-20" href="#"><i class="fa fa-close"></i><span>Seçimi Temizle</span></a>
								<div class="mb-20">
									<div class="inner-title">Çeşitler</div>
									<ul>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="type1" name="type1">
													<label for="type1">Çamaşır Makinesi <span>(05)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="type2" name="type2">
													<label for="type2">Buzdolabı <span>(02)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="type3" name="type3">
													<label for="type3">Bulaşık Makinesi <span>(07)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="type4" name="type4">
													<label for="type4">Klima <span>(03)</span></label>
												</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="mb-20">
									<div class="inner-title">Fiyat</div>
									<ul>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="price1" name="price1">
													<label for="price1">₺5000 - ₺10000 <span>(02)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="price2" name="price2">
													<label for="price2">₺10000 - ₺20000 <span>(13)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="price3" name="price3">
													<label for="price3">₺20000 - ₺50000 <span>(08)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="price4" name="price4">
													<label for="price4">₺50000 - ₺100000 <span>(04)</span></label>
												</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="mb-20">
									<div class="inner-title">Marka</div>
									<ul>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="brand1" name="brand1">
													<label for="brand1">Samsung <span>(02)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="brand2" name="brand2">
													<label for="brand2">Vestel <span>(13)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="brand3" name="brand3">
													<label for="brand3">LG <span>(08)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="brand4" name="brand4">
													<label for="brand4">Beko <span>(04)</span></label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="brand5" name="brand5">
													<label for="brand5">Arçelik <span>(09)</span></label>
												</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="">
									<div class="inner-title">Renk</div>
									<ul>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="color1" name="color1">
													<label for="color1" class="orange">Turuncu</label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="color2" name="color2">
													<label for="color2" class="sky-blue">Mavi</label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="color3" name="color3">
													<label for="color3" class="black">Siyah</label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="color4" name="color4">
													<label for="color4" class="green">Yeşil</label>
												</span>
											</div>
										</li>
										<li>
											<div class="check-box">
												<span>
													<input type="checkbox" class="checkbox" id="color5" name="color5">
													<label for="color5" class="pink">Pembe</label>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="sidebar-default sidebar-banner d-none d-lg-block">
							<a href="javascript:void(0)">
								<img src="https://e-yaz.com.tr/wp-content/uploads/2019/08/e-ticaret.png" alt="Xpoge">
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8 col-xl-9">
					<div class="shorting mb-30">
						<div class="row">
							<div class="col-lg-6">
								<div class="view">
									<div class="list-types grid active ">
										<a href="shop.html">
											<div class="grid-icon list-types-icon"></div>
										</a>
									</div>
									<div class="list-types list">
										<a href="shop-list.html">
											<div class="list-icon list-types-icon"></div>
										</a>
									</div>
								</div>
								<div class="short-by float-right-md">
									<span>Sırala</span>
									<div class="select-item">
										<select>
											<option value="" selected="selected">İsim (A - Z)</option>
											<option value="">İsim(Z - A)</option>
											<option value="">Fiyat(en düşük)</option>
											<option value="">Fiyat(en yüksek)</option>
											<option value="">Değerlendirme(en çok)</option>
											<option value="">Beğenilen(en çok)</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product-section grid-view">
						<div class="row">
							@foreach(var item in Model.Products)
							{
								<div class="col-lg-4 col-md-4 col-6">
									<div class="product-item">
										<div class="product-image">
											<div class="sale-label"><span>Stokta</span></div>
											<a asp-controller="Shop"
											   asp-action="Detail"
											   asp-route-id="@item.ProductID">
												<img src="@item.ImageURL" alt="Xpoge">
											</a>
										</div>
										<div class="product-details-outer">
											<div class="product-details">
												<div class="product-title">
													<a href="product-page.html">@item.Name</a>
												</div>
												<div class="price-box">
													<span class="price">₺@item.Price</span>
													<del class="price old-price">₺@(item.Price * 1.2)</del>
												</div>
											</div>
											<div class="product-details-btn">
												<ul>
													<li class="icon cart-icon">
														<a href="#">
															<span></span>
														</a>
													</li>
													<li class="icon wishlist-icon">
														<a href="#">
															<span></span>
														</a>
													</li>
													<li class="icon compare-icon">
														<a href="#">
															<span></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
					<!-- Paging -->
					<!--
					<div class="shorting center-md">
						<div class="row">
							<div class="col-lg-6">
								<div class="pagination-bar">
									<ul>
										<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="show-item right-side float-none-md">
									<span class="float-none-md d-block">10 Sayfa içerisinde listeleniyor.</span>
								</div>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>