@model List<Product>

<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-142494086-2');
</script>

<!-- Banner Slider -->
<section class="menu-section pb-100">
	<div class="banner main-banner owl-carousel owl-loaded owl-drag">
		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s">
				<div class="owl-item active" style="width: 866.4px; height: 100vh">
					<div class="banner-1">
						<img src="https://blog.teknosa.com/wp-content/uploads/2021/09/beyaz-esya-dugun-paketinde-neler-olmali-teknosa-1024x597.jpg" alt="BeyazEsya">
						<div class="banner-detail">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="banner-detail-inner">
											<span class="subtitle1">Arçelik</span>
											<h1 class="banner-title">Büyük Kampanya</h1>
											<div class="subtitle2">
												<span class="part1">Yeni Sezon</span>
												<span class="part2">Ürünleri</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-item active" style="width: 866.4px; height: 100vh">
					<div class="banner-1">
						<img src="https://kampanyabeyazesya.com/wp-content/uploads/2023/09/Vestel-fiyat-listesi.webp" alt="BeyazEsya">
						<div class="banner-detail">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="banner-detail-inner">
											<span class="subtitle1">%25'e varan indirimler</span>
											<h1 class="banner-title">Beyaz Eşya Seti</h1>
											<div class="subtitle2">
												<span class="part1">Uygun</span>
												<span class="part2">Fiyatlarla</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-item active" style="width: 866.4px; height: 100vh">
					<div class="banner-1">
						<img src="https://cdnuploads.aa.com.tr/uploads/sirkethaberleri/Contents/2022/08/02/thumbs_b_c_32f0cab92912f4ad5bc3cc3367401304.jpg" alt="BeyazEsya">
						<div class="banner-detail">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="banner-detail-inner">
											<span class="subtitle1">SAMSUNG</span>
											<h1 class="banner-title">20.000TL'ye Varan İndirimler</h1>
											<div class="subtitle2">
												<span class="part1">Bu Fırsat</span>
												<span class="part2">Kaçmaz</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-item active" style="width: 866.4px; height: 100vh">
					<div class="banner-1">
						<img src="https://www.lg.com/global/lg-signature/images/sc4/sc4_ces2023_bannerv2.jpg" alt="BeyazEsya">
						<div class="banner-detail">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="banner-detail-inner">
											<span class="subtitle1">LG Sizler İçin Hazır</span>
											<h1 class="banner-title">Aile Paketi</h1>
											<div class="subtitle2">
												<span class="part1">İndirimli</span>
												<span class="part2">Fiyatlarla</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Campaigns -->
<div class="sub-banner-part pb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">KAMPANYALARI İNCELEYİN</h2>
				</div>
			</div>
		</div>
	    <div class="row">
	        <div class="col-md-4">
	        	<div class="sub-banner-box">
	        		<a href="shop.html">
						<img class="d-none d-md-block" src="/images/campaigns/campaign_bosch.jpg" alt="bosch">
						<img class="d-block d-md-none" src="/images/campaigns/campaign_bosch.jpg" alt="bosch">
	        		</a>
	        	</div>
	        </div>
	        <div class="col-md-8">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<div class="sub-banner-box">
			        		<a href="shop.html">
								<img class="d-none d-md-block" src="/images/campaigns/campaign_beko.jpg" alt="beko">
								<img class="d-block d-md-none" src="/images/campaigns/campaign_beko.jpg" alt="beko">
			        		</a>
			        	</div>
	        		</div>
	        		<div class="col-md-4">
	        			<div class="sub-banner-box">
			        		<a href="shop.html">
								<img class="d-none d-md-block" src="/images/campaigns/campaign_1.jpg" alt="1">
								<img class="d-block d-md-none" src="/images/campaigns/campaign_1.jpg" alt="1">
			        		</a>
			        	</div>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<div class="col-12">
	        			<div class="sub-banner-box">
			        		<a href="shop.html">
								<img class="d-none d-md-block" src="/images/campaigns/campaign_arcelik.png" alt="arcelik">
								<img class="d-block d-md-none" src="/images/campaigns/campaign_arcelik.png" alt="arcelik">
			        		</a>
			        	</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
		<div class="row">
			<div class="col-12">
				<div class="align-center">
					<a href="/Shop/" class="btn btn-color">Kampanyaları İncele</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Opportunities -->
<section id="services-part" class="menu-section services-part position-r pb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">İMKANLARDAN FAYDALANIN</h2>
				</div>
			</div>
		</div>
		<div class="ser-feature-block mb_-30 center-sm">
		<div class="row">
			<div class="col-lg-4 col-12">
			<div class="services-box mb-30">
			    <div class="services-box-inner">
					<div class="services-icon services1">
					    <img src="images/ser-icon1.svg" alt="xpoge">
					</div>
					<div class="services-detail">
					    <h3 class="ser-title">Ücretsiz Kargo</h3>
					    <div class="ser-subtitle">1000TL ve üzeri alışverişlerinizde ücretsiz kargo imkanı.</div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-lg-4 col-12">
			<div class="services-box mb-30">
			    <div class="services-box-inner">
					<div class="services-icon services2">
					    <img src="images/ser-icon2.svg" alt="xpoge">
					</div>
					<div class="services-detail">
					    <h3 class="ser-title">Özel Hediyeler</h3>
					    <div class="ser-subtitle">5000TL ve üzeri alışverişlerinizde size özel sürprizler hazırlıyoruz.</div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-lg-4 col-12">
			<div class="services-box mb-30">
			    <div class="services-box-inner">
					<div class="services-icon services3">
					    <img src="images/ser-icon3.svg" alt="xpoge">
					</div>
					<div class="services-detail">
					    <h3 class="ser-title">Para İadesi</h3>
					    <div class="ser-subtitle">Defolu ürünlerimizde direkt olarak iade imkanı.</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- Popular Products -->
<section class="product-section pb-100">
	<div class="container">
		<div class="row">
	        <div class="col-12">
	            <div class="heading-part text-center mb-30 mb-sm-20">
	                <h2 class="main_title">POPÜLER ÜRÜNLER</h2>
	            </div>
	        </div>
	    </div>
	    <div class="row">
			@foreach(var item in Model)
			{
				<div class="col-lg-3 col-md-4 col-6">
					<div class="product-item">
						<div class="product-image">
							<div class="new-label"><span><i class="fa-solid fa-star" style="color: yellow"></i></span></div>
							<a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.ProductID">
								<img src="@item.ImageURL" alt="@item.ImageURL">
							</a>
						</div>
						<div class="product-details-outer">
							<div class="product-details">
								<div class="product-title">
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.ProductID">@item.Name</a>
								</div>
								<div class="price-box">
									<span class="price">₺@item.Price</span>
									<del class="price old-price">₺@(Convert.ToInt32(item.Price*1.10))</del>
								</div>
							</div>
							<div class="product-details-btn">
								<ul>
									<li class="icon cart-icon">
										<a href="cart.html">
											<span></span>
										</a>
									</li>
									<li class="icon wishlist-icon">
										<a href="wishlist.html">
											<span></span>
										</a>
									</li>
									<li class="icon compare-icon">
										<a href="javascript:void(0)">
											<span></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			}
			
	    </div>
	    <div class="row">
	        <div class="col-12">
	            <div class="align-center">
					<a asp-controller="Shop" asp-action="Index" class="btn btn-color">Daha Fazlasını Gör</a>
	            </div>
	        </div>
	    </div>
	</div>
</section>

<!-- New Products -->
@* <section class="product-section pb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">YENİ ÜRÜNLER</h2>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model.Products)
			{
				<div class="col-lg-3 col-md-4 col-6">
					<div class="product-item">
						<div class="product-image">
							<div class="new-label"><span>Yeni</span></div>
							<a href="product-page.html">
								<img src="@item.ImageURL" alt="@item.ImageURL">
							</a>
						</div>
						<div class="product-details-outer">
							<div class="product-details">
								<div class="product-title">
									<a href="product-page.html">@item.Name</a>
								</div>
								<div class="price-box">
									<span class="price">₺@item.Price</span>
									<del class="price old-price">₺@(Convert.ToInt32(item.Price * 1.10))</del>
								</div>
							</div>
							<div class="product-details-btn">
								<ul>
									<li class="icon cart-icon">
										<a href="cart.html">
											<span></span>
										</a>
									</li>
									<li class="icon wishlist-icon">
										<a href="wishlist.html">
											<span></span>
										</a>
									</li>
									<li class="icon compare-icon">
										<a href="javascript:void(0)">
											<span></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			}

		</div>
		<div class="row">
			<div class="col-12">
				<div class="align-center">
					<a href="/Shop/" class="btn btn-color">Daha Fazlasını Gör</a>
				</div>
			</div>
		</div>
	</div>
</section> *@

<!-- Brands -->
<div class="brand-part pb-100">
	<div class="container">
		<div class="brand-part-inner">
			<div class="row">
				<div class="brand-slider owl-carousel">
					<div class="item">
						<img src="/images/brands/arcelik.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/beko.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/bosch.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/lg.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/samsung.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/siemens.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/ugur.png" alt="brand-img">
					</div>
					<div class="item">
						<img src="/images/brands/vestel.png" alt="brand-img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>